/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--active-song-color);
    /* background: #f1f1f1; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
  }
body::-webkit-scrollbar{
  display: none;
}
  