html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: rgb(172, 169, 169);
}
a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
.btn{
    background-color: rgba(82, 82, 197, 0.897);
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.float-item{
    background: linear-gradient(to left bottom,rgba(255, 255, 255, 0.11),rgba(255, 255, 255, 0.534));
    position: fixed;
    backdrop-filter: blur(4em);
    border-radius: 5px;
}
.brand{
    top: 1em;
    left: 1em;
    width: 20%;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    position: relative;
}
/* .brand .item{
    position: relative;
} */
.brand .name{
    width: 35%;
    height: 100%;
    font-size: 1em;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.brand .name h1{
    height: 100%;
    font-size: 1.2em;
}
.brand .name,
.brand .page-name{
    position: relative;
}
.brand .page-name{
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.brand .name::after,
.brand .page-name::after
{
    content:'';
    width: 1px;
    height: 30px;
    background-color: grey;
    position: absolute;
    right: -10px;
    top: 0px;
}
.brand .page-name::after
{
    transform: translateY(-7px);
}
/* nav menu haut droite*/
.nav{
    position: fixed;
    top: 1em;
    right: 1em;
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* border: solid red; */
}
.nav .user-profil,
.nav .nav-elts,
.nav .menu-toggler
{
    background: linear-gradient(to left bottom,rgba(255, 255, 255, 0.11),rgba(255, 255, 255, 0.534));
    backdrop-filter: blur(4em);
    border-radius: 5px;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px;
}
.nav .user-profil{
    width: 15%;
    flex-direction: row;
    justify-content: space-between;
}
.nav .user-profil i{
    color: rgba(82, 82, 197, 0.897);
}
.nav .user-profil .user-creds{
    border: solid rgba(218, 218, 12, 0.774) 1px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: whitesmoke;
    padding: 5px;
    text-align: center;
    background-color: rgba(97, 128, 35, 0.863);
}
.nav .nav-elts{
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
}
.nav .nav-elts .links{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav .menu-toggler{
    width: 10%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.2em;
}
.widgets{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 1.5em;
    left: 1em;
    top: 6em;
    padding: 5px;
    box-shadow: 5px 3px 10px 3px rgba(0 , 0, 0, 0.062);
    font-size: 1.3em;
}